<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%= @data.title %></title>
<meta charset=utf-8 />
<style type="text/css">
h1 {
  margin:0 0 7px 0;
  padding:0;
  font-size:13px;
  text-transform: uppercase;
}
ul {
  margin:0;
  padding:0;
}
li {
  list-style:none;
}
.heading {
  font-size:12px;
  text-transform: uppercase;
  font-weight:bold;
  padding-top:3px;
  margin-bottom:4px;
}
</style>
</head>
<body>
<h1><%= @data.title %></h1>
<ul>
<% for d in @data.for_html %>
<li class="heading"><%= d[0] %></li>
<% if d[1] %>
<% for label in d[1] %>
<li><label><input type="checkbox"> <%= label %></label></li>
<% end %>
<% end %>
<% end %>
</ul>
</body>
</html>
