<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>BBC Shopping List</title>
<meta charset=utf-8 />
<meta name="viewport" content="user-scalable=no, width=device-width" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel='stylesheet' href='/css/styles.css' type='text/css'>
</head>
<body>
<h1>Mobile BBC Recipe shopping list</h1>
<p>This is a little experiment to help you when buying ingredients for any of the recipes from the <a href="http://www.bbc.co.uk/food/recipes/">BBC Food site</a>.</p>
<p>If you paste the URL of the recipe into the box below, you will get an ingredients list returned, with check boxes to help you see what you bought. It was built with the iPhone in mind, but should work with other mobile devices.</p>
<form name="input" action="iphone" method="get">
<p>Enter the recipe URL below:</p>
<input type="text" name="r" size="32" />
<input type="submit" value="Submit" />
</form>
</body>
</html>
