<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><%= @data.title %></title>
<meta charset=utf-8 />
<meta name="viewport" content="user-scalable=no, width=device-width" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />

<link rel='stylesheet' href='/css/styles.css' type='text/css'>
<script type="application/x-javascript"> 
    
    addEventListener("load", function()
    {
        setTimeout(updateLayout, 0);
    }, false);
 
    var currentWidth = 0;
    
    function updateLayout()
    {
        if (window.innerWidth != currentWidth)
        {
            currentWidth = window.innerWidth;
 
            var orient = currentWidth == 320 ? "profile" : "landscape";
            document.body.setAttribute("orient", orient);
            setTimeout(function()
            {
                window.scrollTo(0, 1);
            }, 100);            
        }
    }
 
    setInterval(updateLayout, 400);

    function checkBox(el) {
      var chd = el.childNodes.item(0).checked;
      el.childNodes.item(0).checked = chd ? false : true;  
      el.style.color = chd ? '#333333' : '#999999';  
    }
    
</script>
</head>
<body onload="javascript:window.scrollTo(0, 1);">
<h1><%= @data.title %></h1>
<ul>
<% for d in @data.for_html %>
<li class="heading"><%= d[0] %></li>
<% if d[1] %>
<% for label in d[1] %>
<li onclick="checkBox(this);return false"><input type="checkbox"> <span><%= label %></span></li>
<% end %>
<% end %>
<% end %>
</ul>
</body>
</html>
