body {
  margin: 0;
  font-family: Helvetica;
  background: #FFFFFF;
  color: #333;
  overflow: hidden;
  -webkit-text-size-adjust: none;
}

h1 {
  box-sizing: border-box;
  margin: 0;
  background-color: #ccc;
  border-bottom: 1px solid #999;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 1px 0px #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#000));
}

p {
  margin:0 0 8px 0;
  padding:5px 10px;
  font-size: 13px;
}

form p {
  font-size:14px;
  margin:0;
  padding:0 10px 0 10px;
}

body > ul {
  width: 100%;
  min-height: 418px;
  margin: 0;
  padding: 0;
}

body > ul > li {
  margin: 0;
  padding:0;
  border-bottom: 1px solid #E0E0E0;
  font-size: 13px;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
}

li.heading {
  color: #fff;
  font-size: 11px;
  padding: 2px 0 2px 10px;
  text-transform: uppercase;
  background-color:#ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#888), to(#333));
}

li span {
  display:block;
  padding: 10px 32px 10px 38px;
}

input {
  float:left;
  position:relative;
  top:8px;
  left:10px;
}
