body {
    margin: 0;
    font-family: Helvetica;
    background: #FFFFFF;
    color: #333;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

body > ul {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 418px;
    margin: 0;
    padding: 0;
}

body > ul > li {
    margin: 0;
    padding: 10px 32px 10px 20px;
    border-bottom: 1px solid #E0E0E0;
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    text-decoration: none;
}

li span {
}

input {
  float:left;
  position:relative;
  top:-2px;
  right:10px;
}
